<div class="container">
  <h1>View Post</h1>

  <a href="#" routerLink="/donneurs" class="btn btn-primary">Retour</a>

  <div>
    <strong>ID:</strong>
    <p>{{ donneur.id }}</p>
  </div>

  <div>
    <strong>Nom:</strong>
    <p>{{ donneur.nom }}</p>
  </div>

  <div>
    <strong>Prenom:</strong>
    <p>{{ donneur.prenom }}</p>
  </div>
  <div>
    <strong>Adresse:</strong>
    <p>{{ donneur.adresse }}</p>
  </div>
  <div>
    <strong>Telephone:</strong>
    <p>{{ donneur.telephone }}</p>
  </div>
  <div>
    <strong>Dernier Don:</strong>
    <p>{{ donneur.dernier_don }}</p>
  </div>
  <div>
    <strong>Sexe:</strong>
    <p>{{ donneur.sexe }}</p>
  </div>
  <div>
    <strong>Date de naissance:</strong>
    <p>{{ donneur.date_naissance }}</p>
  </div>
  <div>
    <strong>Etat de sante:</strong>
    <p>{{donneur.etat_sante }}</p>
  </div>
  <div>
    <strong>Grupe sanguin:</strong>
    <p>{{ donneur.groupe_sanguain }}</p>
  </div>
</div>
