 <!-- START ALERTS AND CALLOUTS -->
 <h5 class="mt-4 mb-2">bienvenue</h5>
 <div class="row">
   <div class="col-md-6">
     <div class="card card-default">
       <div class="card-header">
         <h3 class="card-title">
           <i class="fas fa-exclamation-triangle"></i>
           Alerts
         </h3>
       </div>
       <!-- /.card-header -->
       <div class="card-body">
         <div class="alert alert-danger alert-dismissible">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <h5><i class="icon fas fa-ban"></i> Alert!</h5>
           Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my
           entire
           soul, like these sweet mornings of spring which I enjoy with my whole heart.
         </div>
         <div class="alert alert-info alert-dismissible">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <h5><i class="icon fas fa-info"></i> Alert!</h5>
           Info alert preview. This alert is dismissable.
         </div>
         <div class="alert alert-warning alert-dismissible">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
           Warning alert preview. This alert is dismissable.
         </div>
         <div class="alert alert-success alert-dismissible">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <h5><i class="icon fas fa-check"></i> Alert!</h5>
           Success alert preview. This alert is dismissable.
         </div>
       </div>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->
   </div>
   <!-- /.col -->

   <div class="col-md-6">
     <div class="card card-default">
       <div class="card-header">
         <h3 class="card-title">
           <i class="fas fa-bullhorn"></i>
           Callouts
         </h3>
       </div>
       <!-- /.card-header -->
       <div class="card-body">
         <div class="callout callout-danger">
           <h5>Puis-je donner le sang</h5>
           <p>Avant de vous rendre dans l’un de nos sites ou collectes, répondez à ces quelques questions pour savoir si vous pouvez donner votre sang.</p>
           <button class="btn btn-primary">les criteres</button>
         </div>
         <div class="callout callout-info">
           <h5>Faites une promesse de don</h5>
           <a routerLink="reserver" routerLinkActive="active" class="nav-link">reserver</a>
         </div>
         <div class="callout callout-warning">
           <h5>visiter le stock de sang</h5>

           <p>viseter</p>
           <a routerLink="donnerlesnag" class="btn btn-primary">stock</a>

         </div>
       </div>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->
   </div>
   <!-- /.col -->
 </div>
 <h5 class="mt-4 mb-2">chifres important</h5>
 <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>236482</h3>

          <p>donneurs en 2020</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>+2000<sup style="font-size: 20px"></sup></h3>
          <p>Nouvaeu donneurs</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>moins de 10 jours</h3>

          <p>de resereve</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>18 ans age minimum</h3>

          <p>4 semaines de delai entre deux dons de plaquetes</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        
      </div>
    </div>
    <!-- ./col -->
  </div>
 <!-- /.row -->
 <!-- END ALERTS AND CALLOUTS -->