<h1 style="text-align: center;"> (SEHATI) أدخل رمز الخاص بك</h1>
<div class="form-group" style="margin-left: 15px;" >
<input type="text" class="form-control" [(ngModel)]="serverparsi7ati.message" style="margin-bottom: 5px; width: 50%;" >
<button class="btn btn-primary" (click)="rechercheDonneur()" style="margin-top: 5px; width: 50%;"> انقذ حياة </button>
</div>

<div class="card-body">

<ul calss="list-groupe" style="list-style:none;">
    <li class="list-groupe-item" *ngFor="let d of datesdispo">
        
        <!-- <span class="badge"> </span> -->
        <div  *ngIf="donneur!=null ; else si7atidemande">
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-check"></i> {{d.message}}</h5>
            {{d.date.toLocaleString()}}
          </div>
        </div>
        <ng-template #si7atidemande>
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i>إذا كانت هذه هي المرة الأولى لك ، قم بزيارة موقع لتحاقن الدم وانقذ حياة</h5>
            {{d.message}}
          </div>
        </ng-template>
        
    </li>
</ul>
<div *ngIf="donneur!=null ; else loggedOut">
    <form (ngSubmit)="ajouterReservation()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              
              <!-- /.form-group -->
              <div class="form-group">
                <label>Faite une promesse de don</label>
    
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" [(ngModel)]="Calendrier.rdv" name="dateOfDonation" placeholder="yyyy-mm-dd">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              
              
              <div class="form-group">
                <label>votre code SI7ATI: {{donneur.cin}}</label>
                <select class="form-control select2" disabled="disabled" style="width: 100%;" [(ngModel)]="Calendrier.donneur_id" name="isExpired">
                    <option selected="selected">http://localhost:8080/donneurs/{{donneur.id}}</option>
                    <option>true</option>
                  </select>
              </div>
              
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <!-- /.row -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Reserver</button>
        </div>
    </form>
</div>
  
<ng-template #loggedOut>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-ban"></i> أهمية التبرع بالدم بالنسبة للمؤسسات الصحية</h5>
   <p>توفر هذه العملية خدمة استعجالية لتحاقن الدم وتسد حاجيات المراكز الاستشفائية والمستشفيات والمصحات من مشتقات الدم خصوصا بالنسبة ل:</p>
    <li>
      للمرضى المصابين بأمراض الدم الوراثية والأورام السرطانية
    </li>
    <li>
      مرضى القصور الكلوي
    </li>
    <li>
      مرضى فقر الدم للبحر الأبيض المتوسط (تلاسيميا)
    </li>
    <li>
      رضى فقر الدم المنجلي (Drépanocytose)
    </li>
  </div>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-check"></i> ماهي فوائد التبرع بالدم ؟</h5>
    <li>
      يساعد على تنشيط الدورة الدموية
    </li>
    <li>
      يساعد على تنشيط النخاع العظمي وإنتاج خلايا دم جديدة (كريات حمراء وكريات بيضاء وصفائح دموية) بحيث تصبح قادرة على حمل كمية أكبر من الأوكسجين إلى أعضاء الجسم الرئيسية
    </li>
    <li>
      يساعد على التخلص من بعض الحديد والذي إذا ما ارتفع مستواه بالدم يزيد من مخاطر الإصابة بأمراض القلب، كما يعجِّل بأكسدة الكوليسترول ويزيد من تلف الشرايين الصغيرة
    </li>
    <li>
      الأشخاص الذين يتبرعون بدمهم مرة واحدة على الأقل كل سنة هم أقل عرضة للإصابة بأمراض الدورة الدموية و سرطان الدم
    </li>
  </div>
  
</ng-template>

