<h1>Reservation</h1>
<div class="form-group">
<input type="text" [(ngModel)]="serverparsi7ati.message" >
<button (click)="rechercheDonneur()">les dates disponibles pour vous</button>
</div>
<h3>les dates disponibles</h3>
<ul calss="list-groupe">
    <li class="list-groupe-item" *ngFor="let d of datesdispo">
        {{d.message}},
        <span class="badge">{{d.date|date:'dd/mm/yyyy:HH:mm:ss'}} </span>
    </li>
</ul>
<div *ngIf="donneur!=null; else loggedOut">
    Welcome back, friend.
</div>
  
  <ng-template #loggedOut>
    Please friend, login.
  </ng-template>

