<table class="table" *ngIf="calendriers">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom de donneur</th>
    <th scope="col">Date de rendez-vous</th>
    <th scope="col"> Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of calendriers._embedded.calendriers">
    <th scope="row">1</th>
    <td> <button (click)="show(f._links.donneur.href)" class="btn btn-success"> Infos sur le donneur</button></td>
    <td>{{f.rdv}}</td>
    <td> <button (click)="supprimer(f.id)"   class="btn btn-danger"> Supprimer</button></td>
  </tr>


  </tbody>
</table>